.main-title {
  margin-bottom: 24px;
  margin-top: 24px;
}

.gallery {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.gallery-item {
}

.gallery-link {
}

.gallery-image {
  width: 360px;
  height: 200px;
  transition: transform 0.3s;
}

.gallery-image:hover,
.gallery-image:focus {
  transform: scale(1.07);
}

.back-link {
  margin-bottom: 24px;
  margin-top: 24px;
}
